.textfield {
  height: 60px;
  width: 300px;
  border-radius: 12px;
  border-width: 2px;
  border-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.addButton {
  height: 60px;
  width: 100px;
  border-radius: 12px;
  margin-left: 20px;
}

.textfield:active {
  border-color: white;
}
