.button {
  border-radius: 5px;
  min-height: 30px;
  min-width: 90px;
  margin: 5px;
  background-color: rgb(61, 140, 188);
  border-color: white;
  border-width: 1px;
  color: hsl(0, 0%, 100%);
}

.button:hover {
  border-width: 2px;
  border-color: hsl(0, 0%, 100%);
}
