h1 {
  font-size: 2.5rem;
}

input {
    border-radius: 5px;
    height: 30px;
}

.colorPicker {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.colorContainer {
  border-radius: 12px;
  height: 200px;
  min-width: 250px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 1.3rem;
  border: 5px solid rgb(56, 55, 55);
  transition: 0.25s ease;
}

.colorContainer p {
    margin: 0;
}