body {
  font-family: "Sono", sans-serif;
  margin: 0;
}
li {
  list-style-type: none;
}
.pricing-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  vertical-align: middle;
  height: 100vh;
}

.pricing-plan {
  background-color: #f2f2f2;
  text-align: center;
  flex-basis: 320px;
  flex-shrink: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.plan-title {
  font-size: 16px;
  font-weight: bold;
}

.plan-price {
  font-size: 30px;
  font-weight: bold;
}

.plan-button {
  background-color: chocolate;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 5px;
}
